<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenfangming.backend.manage.persistence.mapper.UserMapper">
    <!-- 全字段映射关系 -->
    <resultMap id="BaseResultMap" type="com.chenfangming.backend.manage.persistence.entity.UserEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="is_enable" property="isEnable"/>
        <result column="is_non_delete" property="isNonDelete"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
    </resultMap>
    <!-- 全字段 -->
    <sql id="BaseResultColumnList">
        `id`, `name`, `password`, salt,
        is_enable, is_non_delete, create_user, create_time, update_user, update_time, `version`
    </sql>
    <!-- 根据用户名查询用户 -->
    <select id="selectByName" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseResultColumnList"/>
        FROM backend_user
        WHERE
        is_non_delete = 1
        AND `name` = #{name}
    </select>

</mapper>